* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 700px;
}

form > input {
    display: block;
    margin: 1em;
}
